h2{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}


button{
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
